@charset "utf-8";

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Layout */
:root {
    --hover: rgb(255, 81, 0);
    --text-color: #fff;
    --text-color-second: #999;
}

body {
    background: url(./6194995.jpg) no-repeat center center fixed;
    background-size: cover;
    color: var(--text-color);
    font: 400 100% 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.514);
    margin-bottom: 48px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(
        90deg,
        rgba(0,0,0,0) 0%,
        rgba(187,187,187,1) 50%,
        rgba(0,0,0,0) 100%
        ) 1;
}

#logo {
    padding: 8px 16px;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 4px;
    color: #ffcc23;
}

header svg {
    display: block;
    height: 40px;
    stroke: #ddd;
    transition: 300ms;
}

header svg:hover {
    stroke: #ffcc23;
}

header ul {
    display: flex;
    gap: 24px;
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 3rem;
}

.container .name h2 {
    font: italic 100 2rem 'Poppins';
    color: var(--text-color-second)
}

#arrow {
    font-size: 2rem;
    cursor: pointer;
    animation: setinha 1.5s ease infinite;
}

    @keyframes setinha {
        0%, 100% {
            transform: translate(0, 0);
        }
        50% {
            transform: translate(0, +5px);
        }
    }

#animation {
    transition: 300ms;
}

.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

.active {
    display: block !important;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
    text-align: justify;
    text-indent: 40px;
}

.form {
    width: 44%;
    margin: 0 auto;
    margin-top: 32px;
}

.form input {
    width: 50%;
    padding: 8px 8px;
    border: none;
    border-radius: 8px 0px 0px 8px;
    font-size: 0.8rem;
}

.form button {
    color: #000;
    font-weight: 700;
    font-size: 0.8rem;

    width: 16%;
    padding: 8px 8px;
    border-radius: 0px 8px 8px 0px;
    margin-left: -5px;
    background: linear-gradient(to right, #ff7220 50%, #ffcc23 50%);
    background-size: 200% 100%;
    background-position: right  bottom;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form button:hover {
    background-position: left bottom;
}

@media only screen and (max-width: 768px) {
    .form {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .container .name h1 {
        font-size: 2rem;
    }

    .container .name h2 {
        font-size: 1.5rem;
    }

    #about p {
        max-width: 80%;
        text-align: justify;
    }

}